<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
        <link rel="stylesheet" href="assets/css/main.css">
        <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css"><![endif]-->
        <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css"><![endif]-->
        <title>Rechtsanwalt Norman Jäckel</title>
    </head>
    <body>

        <!-- Header -->
            <div id="header">

                <div class="top">

                    <!-- Logo -->
                        <div id="logo">
                            <h1 id="title">Norman Jäckel</h1>
                            <p>Rechtsanwalt</p>
                        </div>

                    <!-- Nav -->
                        <nav id="nav">
                            <ul>
                                <li>
                                    <a href="#top" id="top-link" class="skel-layers-ignoreHref">
                                        <span class="icon fa-home">Seitenbeginn</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#zur-person" id="zur-person-link" class="skel-layers-ignoreHref">
                                        <span class="icon fa-user">Zur Person</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#rechtsgebiete" id="rechtsgebiete-link" class="skel-layers-ignoreHref">
                                        <span class="icon fa-book">Rechtsgebiete</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#kosten" id="kosten-link" class="skel-layers-ignoreHref">
                                        <span class="icon fa-eur">Kosten</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#rechtsprechung" id="rechtsprechung-link" class="skel-layers-ignoreHref">
                                        <span class="icon fa-gavel">Rechtsprechung</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#kontakt" id="kontakt-link" class="skel-layers-ignoreHref">
                                        <span class="icon fa-envelope">Kontakt</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#impressum" id="impressum-link" class="skel-layers-ignoreHref">
                                        <span class="icon fa-copyright">Impressum</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>

                </div>

            </div>

        <!-- Main -->
            <div id="main">

                {{ content }}

            </div>

        <!-- Footer -->
            <div id="footer">

                <!-- Copyright -->
                    <ul class="copyright">
                        <li>&copy; 2016 Rechtsanwalt Norman Jäckel</li>
                        <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                    </ul>

            </div>

        <!-- Scripts -->
            <script src="assets/js/jquery.min.js"></script>
            <script src="assets/js/jquery.scrolly.min.js"></script>
            <script src="assets/js/jquery.scrollzer.min.js"></script>
            <script src="assets/js/skel.min.js"></script>
            <script src="assets/js/util.js"></script>
            <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
            <script src="assets/js/main.js"></script>

    </body>
</html>
